<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/echarts")
    @Scripts.Render("~/bundles/emaps")
    @Scripts.Render("~/bundles/cmaps")
    @Scripts.Render("~/bundles/wmaps")
    @{ 
        var epall = System.Configuration.ConfigurationManager.AppSettings["epall"];
    }
    <script src='@epall' type="text/javascript"></script>
    @*<script src="http://10.36.172.232:8011/EasyPortal/Scripts/ep.all.js" type="text/javascript"></script>*@
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
