@model IEnumerable<ShareService.ServiceManager.Models.Service>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Services</title>
</head>
<body>
    @*<input value="新建" class="btn btn-default btn-sm" onclick="addServiceRow()" type="button" />*@

    
    <script>
        var selectedServiceRow = null;
        var selectedServiceIndex = -1;
        $(document).ready(function () {
            $("#servicesTable").jqxDataTable(
                {
                    sortable: true,
                    editable: false,
                    width: '100%',
                    selectionMode: 'singleRow',
                    columns: [
                      { text: '名称', dataField: '名称', width: '25%', align: 'center', cellsAlign: 'center' },
                      { text: 'URL', dataField: 'URL', width: '25%', align: 'center', cellsAlign: 'center' },
                      { text: '描述', dataField: '描述', width: '25%', align: 'center', cellsAlign: 'center' },
                      { text: '所属场', dataField: '所属场', width: '25%', align: 'center', cellsAlign: 'center' },
                    ]
                });
            $('#servicesTable').on('rowSelect',
                function (event) {
                    selectedServiceRow = args.row;
                    selectedServiceIndex = args.index;
                }
            );

            initServiceButtons();
        });
        function initServiceButtons() {
            $("#leftServiceButtons").jqxButtonGroup({ mode: 'default' });
            $("#rightServiceButtons").jqxButtonGroup({ mode: 'default' });
            $("#leftServiceButtons").unbind('buttonclick').on('buttonclick', function (event) {
                var clickedButton = event.args.button;
                var id = clickedButton[0].id;
                if (id == "add") {
                    addServiceRow();
                }
                else if (id == "delete") {
                    if (selectedServiceRow != null) {
                        if (confirm("确定删除？")) {
                            DeleteService(selectedServiceRow.GUID);
                        }

                    } else { alert("请选择项！"); }
                }
            });

            $("#rightServiceButtons").unbind('buttonclick').on('buttonclick', function (event) {
                var clickedButton = event.args.button;
                var id = clickedButton[0].id;
                if (id == "edit") {
                    if (selectedServiceRow != null) {
                        EditService(selectedServiceRow.GUID);
                    }
                    else {
                        alert('请选择项！');
                    }
                } else if (id == "detail") {
                    if (selectedServiceRow != null) {
                        DetailService(selectedServiceRow.GUID);
                    }
                    else {
                        alert('请选择项！');
                    }
                } else if (id == "resetService") {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost/ShareService.ServiceManager/ARRManager/ResetServices",
                        success: function (msg) {
                            alert(msg.Result ? "重新配置成功！" : "重新配置失败！");
                        }
                    });
                }
            });
        }
       
        function addServiceRow() {
            $('#createService').jqxWindow({
                width: 360,
                resizable: false
            });
            $('#createService').jqxWindow('open');
        }
        function DeleteService(guid) {
            window.location.href = "http://localhost/ShareService.ServiceManager/ServiceManage/DeleteService?guid=" + guid;

        }
        function EditService(guid) {
            window.location.href = "http://localhost/ShareService.ServiceManager/ServiceManage/EditService?guid=" + guid;
        }
        function DetailService(guid) {
            window.location.href = "http://localhost/ShareService.ServiceManager/ServiceManage/DetailService?guid=" + guid;

        }
    </script>
    <div style="height:35px; background-color:lightgray; margin-top:1px; margin-bottom:1px;">
        <div id='leftServiceButtons' class="leftDock">
            <button style="padding:4px 16px;" id="add">
                新建
            </button>
            <button style="padding:4px 16px;" id="delete">
                删除
            </button>
        </div>
        <div id='rightServiceButtons' class="rightDock">
            <button style="padding:4px 16px;" id="edit">
                编辑
            </button>
            <button style="padding:4px 16px;" id="detail">
                详情
            </button>
            <button style="padding:4px 16px;" id="resetService">
                重新配置
            </button>
        </div>
    </div>
    <table id="servicesTable">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    名称
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.URL)*@
                    URL
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Decription)*@
                    描述
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telphone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>*@
                <th>
                    @*@Html.DisplayNameFor(model => model.FarmCode)*@
                    所属场
                </th>
                <th style="display:none;">GUID</th>
                @*<th>其他操作</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Decription)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telphone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>*@
                    <td>
                        @*@Html.DisplayFor(modelItem => item.FarmCode)*@
                        @Html.DisplayFor(modelItem => item.BelongedFarmName)
                    </td>
                    <td style="display:none;">@Html.DisplayFor(modelItem => item.Code)</td>
                    @*<td>
                        <a class="btn btn-sm btn-default" href="#?guid=@item.Code">编辑</a>
                        <a class="btn btn-sm btn-default" href="#?guid=@item.Code">详情</a>
                        <a class="btn btn-sm btn-default" href="#?guid=@item.Code">删除</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    <div id="createService" style="display:none;">
        <div id="customWindowHeader">
            <span id="captureContainer" style="float: left">新建服务</span>
        </div>
        <div id="customWindowContent" style="overflow: hidden">
            <div style="margin: 10px">
                @{ Html.RenderPartial("CreateService", new ShareService.ServiceManager.Models.Service());}
            </div>
        </div>
    </div>
</body>
</html>
