@model IEnumerable<ShareService.ServiceManager.Models.BaseMetadata>

<script>
            $(document).ready(function () {
                //$('#resourceType').change(function () {
                //    window.location.href = 'List?resourceType=' + $('#resourceType').val();
                //});

                $('#resourceWindow').jqxWindow({
                    width: '400px',
                    height: '300px',
                    resizable: true,
                    //okButton: $('#okButton'),
                    //initContent: function () {
                    //    $('#okButton').jqxButton({ width: '80px', disabled: false });
                    //}
                });
            });
            function createMetadata() {
                $('#loader').show();
                var selectedResourceType = $('#resourceType option:selected').val();
                //alert(selectedResourceType);
                $.ajax({
                    url: '../MetadataManager/Create?directoryCode=' + selectedResourceType,
                    success: function (data) {
                        $('#resourceWindow #titleContainer').html('添加元数据信息');
                        $('#resourceWindow #customWindowContent').empty().html(data);
                        $('#resourceWindow').jqxWindow('open');
                    },
                    complete: function () {
                        $('#loader').hide();
                    }
                });
            }
            function editMetadataResource(itemCode) { }

            function viewMetadataResource(itemCode) { }

            function deleteMetadataResource(itemCode) { }
</script>
<div class="NavWindow">
    <div class="NavHeader">
        <img src="~/Images/home.png" />
        <span>您当前的位置：元数据管理 &gt; GIS元数据</span>
    </div>
    <div class="NavContent">
        <div class="Title">
            <div style="float:left;margin-left:10px;font-weight:bold;">GIS元数据</div>

            <div onclick="createMetadata();" class="UFButton">
                添加
            </div>
            <div onclick="refresh()" class="UFButton">
                刷新
            </div>
        </div>
        <div class="Content">
            <table class="UFTable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FieldName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FieldType)
                    </th>
                    <th>
                        操作
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FieldName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FieldType)
                        </td>
                        <td>
                            <a onclick="editMetadataResource('@item.Code')" style="cursor:pointer;">编辑</a>
                            <a onclick="viewMetadataResource('@item.Code')" style="cursor:pointer;">详细信息</a>
                            <a onclick="deleteMetadataResource('@item.Code')" style="cursor:pointer;">删除</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>