@model IEnumerable<BigData.ModelBuilding.Models.BuildingModel>

 <script type="text/javascript">
               function Del(code)
               {
                   if (confirm("确定删除")) {

                       var url = "../ModelBuilding/DeleteBasicInfoModel?code=" + code;
                       $.ajax({
                           url: url,
                           success: function (data) {
                               alert(data.State);
                               if (data.State) {
                                   alert("删除成功");
                                   onMenuClick('../ModelBuilding/BMList')
                               }
                               else {
                                   alert("数据删除失败，请稍后重试！");
                               }
                           },
                           error: function () {

                               alert("删除失败")
                           },
                           complete: function () {
                           }
                       });
                   }
               }
               function Edit(code) {
                   alert(code);
                   var url = '../ModelBuilding/ListDetail?code=' + code;
                   $.ajax({
                       url: url,
                       success: function (data) {
                           $("#usersListContainer").empty().html(data);
                       },
                       complete: function ()
                       { }
                   });
               }
               function CreateBasicInfoModel() {
                   var url = '../ModelBuilding/CreateBasicInfoModel'
                   $.ajax({
                       url: url,
                       success: function (data) {
                           $("#usersListContainer").empty().html(data);
                       },
                       complete: function () {

                       }
                   });
               }
</script>


<div id="usersListContainer">
    <table class="UFTable" style="table-layout:fixed;">
        <tr>
            <td>名称</td>
            <td>输出模板</td>
            <td>创建日期</td>
            <td>更新日期</td>
            <td>源名称</td>
            <td>操作</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.OutputName</td>
                <td>@item.CreateDate</td>
                <td>@item.UpdateDate</td>
                <td>@item.SourceName</td>
                <td><a style="cursor:pointer;" onclick="Edit('@item.Code')">编辑</a><a style="cursor:pointer;" onclick="Del('@item.Code')">删除</a></td>
            </tr>
        }
    </table>
</div>






