
@model BigData.ModelBuilding.Models.BuildingModel
     <script type="text/javascript">
      $(document).ready(function() {      
             GetAnalysisModel(); 
         });
         $("#SourceType").change(function () {
             var SourceType = $("#SourceType").val();
        var code ="00000000-0000-0000-0000-000000000000";
        var url = "../ModelBuilding/GetTableName?SourceType="+SourceType+"&Code="+code;
             $.ajax({
                 url: url,
                 success: function (data) {
                     $("#SourceName").empty().html(data);
                 },
                 error: function ()
                 { },
             })
         });

         //jmzhang code
         $("#SourceName").change(function () {
             var SourceName = $("#SourceName").val();
             var url = "../ModelBuilding/GetTableInformation?SourceName=" + SourceName;
             $.ajax({
                 url: url,
                 success: function (data) {
                     $("#tableInformation").empty().html(data);
                 },
                 error: function ()
                 { },
             })
              });


         //表单提交后调用
    function success(result) {
             if (result.Status) {
                 alert("添加成功！");
                 onMenuClick('../ModelBuilding/BMList');
             }
        else {
                 alert("添加失败！");
             }
	    }
	    
         //获取初始化Field的列名称和类型
         function GetFieldInfo() {
             var SourceName = $("#SourceName").val();
             var url = "../ModelBuilding/GetFieldInformation?SourceName=" + SourceName;
             $.ajax({
                 url: url,
                 success: function (data) {
                     $("#tableInformation").empty().html(data);
                 },
                 error: function ()
                 { },
             })
         }
         //获取dropdown中数据
         function GetAnalysisModel() {
             var url = "../ModelBuilding/GetAnalysisModel"
             $.ajax({
                 url: url,
                 success: function (data) {
                     $("#AnalysisModel").empty().html(data);
                 },
                 error: function ()
                 { },
             });
         }
         //切换table
         function SwitchPanel(type) {
             switch (type) {
                 case 1:
                     $("#baseInfo").css("display", "");
                     $("#modelInfo").css("display", "none");
                     $("#fieldsInfo").css("display", "none")

                     break;
                 case 2:
                     $("#baseInfo").css("display", "none");
                     $("#modelInfo").css("display", "");
                     $("#fieldsInfo").css("display", "none")
                     this.className = "active"
                     break;
                 case 3:
                     $("#baseInfo").css("display", "none");
                     $("#modelInfo").css("display", "none");
                     $("#fieldsInfo").css("display", "")
                     break;
             }
         }
 </script>
<div class="NavWindow">
    <div class="NavHeader">
        <img src="~/Images/home.png" />
        <span>您当前的位置：系统建模 &gt; 创建模型</span>
        <div style="float:right;">
            <div class="UFButton" onclick="onMenuClick('../ModelBuilding/BMList')">返回</div>
        </div>
    </div>
    
    <div class="NavContent">
        <div class="Content">
    <ul id="infoTabs" class="nav nav-tabs">
        <li class="active">
            <a onclick="SwitchPanel(1)" data-toggle="tab">
                基本信息
            </a>
        </li>
        <li>
            <a onclick="SwitchPanel(2)" data-toggle="tab">模型信息</a>
        </li>
        <li >
            <a onclick="SwitchPanel(3)" data-toggle="tab">字段信息</a>
        </li>
    </ul>
    <div class="tab-content">
        <div style="padding:10px;overflow-x:hidden;" id="basicInfo" class="tab-pane fade in active">
            @using (Ajax.BeginForm("CreateBasicInfoModel", "ModelBuilding", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success" }))
            {
                <div class="form-horizontal" style="margin-top:15px;">
                    <div id="baseInfo" style="display:block">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                    <div id="modelInfo" style="display:none">
                        <div class="form-group">
                            <label class="control-label col-md-2">分析模型</label>
                                <div id="AnalysisModel">

                                </div>
                            </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SourceType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DropDownListFor(model => model.SourceType, ViewBag.SourceType as IEnumerable<SelectListItem>, htmlAttributes: new { @style = "width:300px;height:32px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SourceName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.SourceName, ViewBag.resul as IEnumerable<SelectListItem>, htmlAttributes: new { @style = "width:300px;height:32px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OutputType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.OutputType, ViewBag.OutputType as IEnumerable<SelectListItem>, htmlAttributes: new { @style = "width:100px;height:32px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OutputName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OutputName)
                            </div>
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.WhereCaluse, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.WhereCaluse)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderFields, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OrderFields)
                            </div>
                        </div>
                    </div>
  
                        <input type="submit" value="保  存" class="btn btn-default" style="left:50%;bottom:15px; margin-left:40px;width:80px;position:absolute;" />
                    <div id="fieldsInfo" style="display:none">

                    </div>
                    </div>
            }
        </div>
    </div>
</div>
    </div>
</div>
