<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="width:100%; height:100%">    
    <div id="body" style="width:100%; height:100%;" class="float-left">
        <div style="float:left;width:100%; height:100%;background-image:url(../Images/lbg.png); background-repeat:repeat-x;background-size:100% 100%;">
            @RenderBody()
        </div>
        
        <footer>
            <div>
                <div>
                    <a href="http://www.china-ccw.com">&copy; @DateTime.Now.Year - 苏州云联智慧信息技术应用有限公司</a>
                </div>    
            </div>                    
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
