@model IEnumerable<BigData.ModelBuilding.Models.AnalysisModel>
<script>
    var directoryCode = '@ViewBag.DirectoryCode';

    function showDetailOfModel(code) {
            $('#loader').show();
            $.ajax({
                url: "../ModelManager/ModelDetail?code=" + code,
                success: function (result) {
                    $('#contentContianer').empty().html(result);
                    $('#detailWindow').modal('show');
              
                },
                complete: function () {
                    $('#loader').hide();
                }
            });
        }
    function showModifyModelView(code) {
        $('#loader').show();
        $.ajax({
            url: "../ModelManager/CreateModifyModelView?code=" + code,
            success: function (result)
            {
                    $('#resourceWindow #titleContainer').html('修改模型');
                    $('#resourceWindow #customWindowContent').empty().html(result);
                    $('#resourceWindow').jqxWindow('open');
            },
            complete: function ()
            {
                $('#loader').hide();

            }
        });
    }




    function showDeleteModelView(code)
    {
        if (confirm('您确定删除该模型吗？')) {

            $('#loader').show();
            $.ajax({
                url: "../ModelManager/DeleteModelDetail?code=" + code,
                success: function (result) {               
                    if (result.State) {
                        showModelsOfGroup(directoryCode);
                    }
                    else {
                        alert("删除时发生错误，删除失败！");
                    }
                },
                complete: function () {
                    $('#loader').hide();
                }
            });
        }
    }


 function success(result) {
        if (result.State) {
            alert("更新成功");
            readModelName();
            $('#resourceWindow').jqxWindow('close');
        }
        else {
            alert("资源保存失败，请检查您输入的数据有效性！");
        }
 }
</script>

    <table class="UFTable" style="table-layout:fixed;">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.OutTemplateFilePath)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>操作</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.OutTemplateFilePath</td>
                <td>@item.Description</td>
                <td data-toggle="modal">
                <a style="cursor:pointer;" onclick="showDetailOfModel('@item.Code')">详情</a>
                <a style="cursor:pointer;" onclick="showModifyModelView('@item.Code')">修改</a>
                <a style="cursor:pointer;"  onclick="showDeleteModelView('@item.Code')">删除</a>
                </td>
           
            </tr>
        }
    </table>


    <div id="detailWindow" style="clear:both;" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="form">详细信息</label>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" style="height:350px;">
                    <div id="contentContianer"></div>
                </div>
              
            </div>
        </div>
    </div>



