@model BigData.ModelBuilding.Models.AnalysisModel

<div>
    <div class="SimpleGroup">
        <label class="form">@Html.DisplayNameFor(model => model.Name)</label>
        <div>
            <input type="text"  value="@Html.DisplayFor(model => model.Name) " />
        </div>
    </div>


    <div class="SimpleGroup">
        <label class="form">@Html.DisplayNameFor(model => model.OutTemplateFilePath)</label>
        <div>
            <input type="text" value="@Html.DisplayFor(model => model.OutTemplateFilePath) " />
        </div>
    </div>


    <div class="SimpleGroup">
        <label class="form">@Html.DisplayNameFor(model => model.Description)</label>
        <div class="textarea">
            <textarea style="height:80px;"> @Html.DisplayFor(model => model.Description)</textarea>
        </div>
    </div>

</div>