@model BigData.TeamTools.Models.ServiceToken
<script>
    function onSuccess(result) {
        if (result.State) {
            showUserGlobalToken(userCode);
        }
        else
        {
            alert("资源保存失败，请检查您输入的数据有效性！");
        }
    }

    function resetToken(token)
    {
        $('#loader').show();
        $.ajax({
            url: '../UserManager/ResetGlobalTokenOfUser?token=' + token,
            success: function (result) {
                if (result.State) {
                    showUserGlobalToken(userCode);
                }
                else {
                    alert("重新生成Token时失败，请检查您的网络状况是否正常...");
                }
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }
</script>

@using (Ajax.BeginForm("EditGlobalTokenOfUser", "UserManager", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess" }, new { @id = "UserGlobalTokenForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.UserCode)

    <div class="SimpleGroup">
        <label>开始时间：</label>
        <div>
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "UFDate" } })
        </div>
    </div>
    <div class="SimpleGroup">
        <label>过期时间：</label>
        <div>
            @Html.EditorFor(model => model.ExpiredDate, new { htmlAttributes = new { @class = "UFDate" } })
        </div>
    </div>
    <div class="SimpleGroup">
        <label>Token：</label>
        <div>
            @if (Model.Code != Guid.Empty)
            {
                <label>@Model.Code</label>
            }
        </div>
    </div>
    <div class="SimpleGroup">
        <label>是否禁用：</label>
        <div>
            @Html.CheckBoxFor(model => model.IsPaused)
        </div>
    </div>
    <div style="width:100%; float:left;text-align:center;margin-top:50px;">
        <table  style="margin-left:auto; margin-right:auto;">
            <tr>
                <td>
                    <div class="UFButton" onclick="javascript:$('#UserGlobalTokenForm').submit();" style="float:none;margin-left:auto;margin-right:auto;width:100px;">
                        保存
                    </div>
                </td>
                @if (Model.Code != Guid.Empty)
                {
                    <td>
                        <div class="UFButton" onclick="javascript:resetToken('@Model.Code');" style="float:none;margin-left:auto;margin-right:auto;width:100px;">
                            重新生成
                        </div>
                    </td>
                }
            </tr>
        </table>
    </div>
}