@model IEnumerable<BigData.TeamTools.Models.UFUser>

<script>
    $(document).ready(function () {
        $('#resourceWindow').jqxWindow({
            width: '400px',
            height: '340px',
            resizable: true,
            initContent: function () {
            }
        });
    });

    function createUser() {
        $('#loader').show();
        $.ajax({
            url: '../UserManager/Create',
            success: function (data) {
                $('#resourceWindow #titleContainer').html('添加用户');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function editUser(code) {
        $('#loader').show();
        $.ajax({
            url: '../UserManager/Edit?code=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('编辑用户');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function viewUser(code) {
        $('#loader').show();
        $.ajax({
            url: '../UserManager/Detail?code=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('用户信息');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function deleteUser(code) {
        if (confirm('您确定删除该用户吗？')) {
            $('#loader').show();
            $.ajax({
                url: '../UserManager/Delete?code=' + code,
                success: function (result) {
                    if (result.State) {
                        showUsersList();
                    }
                    else {
                        alert("删除该用户时发生错误，删除失败！");
                    }
                },
                error: function (msg) {
                    alert("与服务器通讯发生异常，请检查网络状况！");
                },
                complete: function () {
                    $('#loader').hide();
                }
            });
        }
    }

    function rolesOfUser(code)
    {
        $('#loader').show();
        $.ajax({
            url: '../UserManager/EditRolesOfUser?userCode=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('编辑用户与角色信息');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function servicesOfUser(code)
    {
        $('#loader').show();
        $.ajax({
            url: '../UserManager/EditServicesOfUser?userCode=' + code,
            success: function (data) {
                $('#securityContentContainer').empty().html(data);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }
</script>
<div class="NavWindow">
    <div class="NavHeader">
        <img src="~/Images/home.png" />
        <span>您当前的位置：安全管理 &gt; 用户管理</span>
    </div>
    <div class="NavContent">
        <div class="Title">
            <div style="float:left;margin-left:10px;font-weight:bold;">用户管理</div>
            <div onclick="javascript:createUser();" class="UFButton">
                添加
            </div>
            <div onclick="javascript:showUsersList();" class="UFButton">
                刷新
            </div>
        </div>
        <div class="Content">
            <table class="UFTable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPassed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        操作
                    </th>
                </tr>

                @foreach (var item in Model.OrderBy(p => p.IsPassed))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @if (item.IsPassed)
	                        {
		                        <div>通过</div>         
                            }
                            else
                            {
                                <div>未通过</div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
 <td>
                            <a onclick="javascript:editUser('@item.Code');" style="cursor:pointer;">编辑</a>
                            <a onclick="javascript:viewUser('@item.Code');" style="cursor:pointer;">详细信息</a>
                            <a onclick="javascript:deleteUser('@item.Code');" style="cursor:pointer;">删除</a>
                            <a onclick="javascript:rolesOfUser('@item.Code');" style="cursor:pointer;">角色</a>
                            <a onclick="javascript:servicesOfUser('@item.Code');" style="cursor:pointer;">权限</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>