<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" type="text/css" href="~/Content/alipay/amui-demo_files/toast.css" media="all">
    @Styles.Render("~/Content/dist/style/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/base")
</head>
<body>
    <div class="page">
        @RenderBody()
        <div style="display: block;font-family:STHeitiSC;font-size: 14px; margin-bottom: 15px; margin-left: 0px; width: 100%; text-align: center;  bottom: 0px;position:absolute;">
            <div class="am-agreement am-ft-gray am-ft-sm">
                <p>
                    本服务由苏州市人力资源和社会保障局<br />苏州云联智慧信息技术应用有限公司提供支持
                </p>
            </div>
        </div>
    </div>
        @RenderSection("scripts", required: false)
</body>
</html>
