<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1"> <!--注释此句 可以禁用响应式-->
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css/bootstrapcss")
    @Scripts.Render("~/bootstrapjs")*@
    <link href="~/Content/css/bootstrap-min.css"  type="text/css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-min.js"></script>

</head>
<body>
    <div class="m_header">
        <ul>
            <li>测试</li>
            <li>发布</li>
            <li>关系</li>
        </ul>

    </div>
    <div class="m_contain">
        <div class="m_left">
       
        </div>
        <div class="m_right">@RenderBody()</div>
    </div>
        <div class="m_foot">eregrthtr</div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
