@model SocialInsurance.Models.condition
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("PersonalInsurance", "SocialInsurance", FormMethod.Post))
{
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd">
                @Html.LabelFor(Model => Model.ID, new { htmlAttributes = new { @class = "weui_label", style = "width:4em" } })
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.TextBoxFor(model => model.ID, htmlAttributes: new { @class = "weui_input", placeHolder = "请输入10位社保账号" })
                @Html.ValidationMessageFor(model => model.ID)
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                @Html.LabelFor(Model => Model.IDCard, new { htmlAttributes = new { @class = "weui_label" } })
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.TextBoxFor(model => model.IDCard, htmlAttributes: new { @class = "weui_input", placeHolder = "请输入身份证号" })
                @Html.ValidationMessageFor(model => model.IDCard)
            </div>
        </div>
    </div>
    <div style="margin-top:30px;padding-left:10px;padding-right:15px;">
        <input type="submit" class="weui_btn weui_btn weui_btn_primary" id="search" value="查询" />
    </div>
    <div style="margin-top:30px;padding-left:10px;padding-right:15px;">
        <input type="button" class="weui_btn weui_btn weui_btn_primary" id="test" value="查询" />
    </div>
   }
<div class="am-list-footer" style="padding-top:10px;padding:15px 10px 10px 15px;">
    温馨提示：<br />
    1:社保编号长度为10位<br />
    2:身份证号码，最后一位是"X"的，应为大写字母。
</div>
<div id="detail"></div>

   <script type="text/javascript">
       $("#test").click(function ()
       {
           var url = '../SocialInsurance/PersonInsuranceStatus';
           $.ajax({
               type: 'Post',
               url: url,
               success: function (data) {
                   alert(data);
                   $("#detail").empty().html(data)
               },
               complete: function (){}
           });
       });
   </script>
   