@model SocialInsurance.Controllers.PInsuranceStatu

@{
    ViewBag.Title = "PersonInsuranceStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.status == "200")
{

    <div class="am-list-footer" style="padding-top:10px;padding:15px 10px 10px 15px;">
        未查到你相关信息
    </div>
}
else
{
    if (Model.status == "100")
    {
        <div class="weui_cell_hd">
            总页：@Model.pages,第@Model.cpages,每页@Model.rowcount行
        </div>
        <table>
            @foreach (var item in Model.data)
            {
                <tr>
                    <td>@item.aab001</td>
                    <td>@item.aab002</td>
                    <td>@item.aab004</td>
                    <td>@item.aac001</td>
                    <td>@item.aac008</td>
                    <td>@item.aac031</td>
                    <td>@item.akf066</td>
                    <td>@item.akf067</td>
                    
                </tr>
            }
        </table>
    }
}