@*@model IEnumerable<SocialInsurance.Models.PersonalInsurance>*@
@model SocialInsurance.Models.PersonalInsurance
@{
    ViewBag.Title = "PersonalInsurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.status == "200")
{

    <div class="am-list-footer" style="padding-top:10px;padding:15px 10px 10px 15px;">
       未查到你相关信息
    </div>


}
else
{
    if (Model.status == "100")
    {
        <div class="weui_cell_hd">
           总页：@Model.pages,第@Model.cpage,每页@Model.rowcount行
        </div>
    <table>
        @foreach (var item in Model.msg)
        {
            <tr>
                <td>@item.aab004</td>
                <td>@item.aac001</td>
                <td>@item.aac003</td>
                <td>@item.aae001</td>
                <td>@item.aif004</td>
                <td>@item.aif005</td>
            </tr>
        }
    </table>
    }
}

