@model SocialInsurance.Models.IdustrialInsurance

@{
    ViewBag.Title = "IdustrialInsurance";
    Layout = "~/Views/Shared/_LayoutAlipay.cshtml";
}

<script>
    $("#toast").hide();
</script>
<style>
   .name {
        width: 16.666666%;
    }
</style>
<div class="am-list" am-mode="flat chip">
        <div class="am-list-item">
            <div class="name am-ft-center">结算期</div>
            <div class="name am-ft-center">缴费基数</div>
            <div class="name am-ft-center">缴费月数</div>
            <div class="name am-ft-center">缴费金额</div>
            <div class="name am-ft-center">到账标记</div>
            <div class="name am-ft-center">缴费类别</div>
            </div>
            @foreach (var item in Model.data)
            {
                <div class="am-list-item">
                    
                        <div class="name">
                            <div class="">@item.akf088</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.aif005</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.aif004</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.aif006</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.akf084</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.akf081</div>
                        </div>
                    </div>

        }
    </div>

