@model SocialInsurance.Models.IdustrialInsurance

@{
    ViewBag.Title = "IdustrialInsurance";
<<<<<<< HEAD
    Layout = null;
}
<style>
    .name {
=======
    Layout = "~/Views/Shared/_LayoutAlipay.cshtml";
}

<script>
    $("#toast").hide();
</script>
<style>
   .name {
>>>>>>> 5719f5242f567bc6cb6500383dcae5a2bd72c57d
        width: 16.666666%;
    }
</style>
@if (Model.status == "200")
{
<<<<<<< HEAD
    <div class="am-list-footer" style="padding-top:10px;padding:15px 10px 10px 15px;">
        未查到你要查询相关信息，请稍后再试
    </div>
}
else
{
    
       if (Model.status == "100")
        {  <div id="resultmore">
         @if(Model.cpage==1)
           {
            <input type="hidden" id="cpage" value='@Model.cpage' />
            <input type="hidden" id="pages" value='@Model.pages' />
            <input type="hidden" id="style" value="Idustrial" />
=======

}
else
{
    if (Model.status=="100")
    {
        <div class="am-list" am-mode="flat chip">
>>>>>>> 5719f5242f567bc6cb6500383dcae5a2bd72c57d
            <div class="am-list-item">
                <div class="name am-ft-center">结算期</div>
                <div class="name am-ft-center">缴费基数</div>
                <div class="name am-ft-center">缴费月数</div>
                <div class="name am-ft-center">缴费金额</div>
                <div class="name am-ft-center">到账标记</div>
                <div class="name am-ft-center">缴费类别</div>
            </div>
<<<<<<< HEAD
         }
            @foreach (var item in Model.data)
            {
                <div class="am-list-item">
=======
            @foreach (var item in Model.data)
            {
                <div class="am-list-item">

>>>>>>> 5719f5242f567bc6cb6500383dcae5a2bd72c57d
                    <div class="name">
                        <div class="">@item.akf088</div>
                    </div>
                    <div class="name">
                        <div class="am-ft-center">@item.aif005</div>
                    </div>
                    <div class="name">
                        <div class="am-ft-center">@item.aif004</div>
                    </div>
                    <div class="name">
                        <div class="am-ft-center">@item.aif006</div>
                    </div>
                    <div class="name">
                        <div class="am-ft-center">@item.akf084</div>
                    </div>
                    <div class="name">
                        <div class="am-ft-center">@item.akf081</div>
                    </div>
                </div>
            }
<<<<<<< HEAD
          </div>
        }
}
=======
        </div>
 if (Model.cpage < Model.pages)
       {
    <div class="am-flexbox" am-mode="average" style="margin-top:15px;">
        <div class="am-flexbox-item">
            <button type="button" id="more" class="am-button am-button-blue">下一页</button>
        </div>
    </div>
    <div class="am-flexbox" am-mode="average" style="margin-top:15px;">
        <div class="am-flexbox-item">
            <button type="button" id="back" class="am-button am-button-blue">返回</button>
        </div>
    </div>
       }
       else
        {
    <div class="am-flexbox" am-mode="average" style="margin-top:15px;">
        <div class="am-flexbox-item">
            <button type="button" id="back" class="am-button am-button-blue">返回</button>
        </div>
    </div>
        }
      }
}
<script type="text/javascript">
        $("#more").click(function ()
        {
            $("#toast").show();
             var cpage =@(Model.cpage)+1;
            var url = "../AlipaySocialInsurance/IdustrialInsurance?cpage=" + cpage;
            $.ajax({
            url: url,
            success: function (msg)
            {
               $("#result").empty().html(msg);
            },
            error: function ()
            { },
            complete: function ()
            {
            $("#toast").hide();
            }
            });
            });
            $("#back").click(function () {
            $("#result").hide();
            $("#list").show();
            });
</script>
>>>>>>> 5719f5242f567bc6cb6500383dcae5a2bd72c57d

