@model SocialInsurance.Models.PensionInsurance
@{
    ViewBag.Title = "企业养老缴费信息查询";
    Layout =null;
}
<script>
    $("#toast").hide();
</script>
<style>
 .name {
        width: 25%;
        text-align: center;
      }
</style>
@if (Model.status == "200")
{
    <div class="am-list" am-mode="flat form">
        <div class="am-list-item am-input-autoclear">
            <div class="am-list-body">未查到你要查询相关信息，请稍后再试</div>
        </div>
    </div>
}
else if (Model.status == "300")
{
    <div class="am-list" am-mode="flat form">
        <div class="am-list-item am-input-autoclear">
            <div class="am-list-body">网络错误,请稍后重试！</div>
        </div>
    </div>
}
else
{
    if (Model.status == "100")
    {
        <div id="resultmore">
            @if (Model.cpage == 1)
            {
             <input type="hidden" id="cpage" value='@Model.cpage'/>
             <input type="hidden" id="pages" value='@Model.pages'/>
             <input type="hidden" id="style" value="pension"/>


            <div class="am-list-item">
                <div class="name am-ft-center">人员编号</div>
                <div class="name am-ft-center">缴费年度</div>
                <div class="name am-ft-center">缴费月数</div>
                <div class="name am-ft-center">缴费基数</div>
            </div>
            }
            @foreach (var item in Model.msg)
            {
            <div class="am-list-item">
                <div class="name am-ft-center">@item.aac001</div>
                <div class="name am-ft-center">@item.aae001</div>
                <div class="name am-ft-center">@item.aif004</div>
                <div class="name am-ft-center">@item.aif005</div>
            </div>
            }
        </div>
     }
}
