@model SocialInsurance.Models.PInsuranceStatu
@{
    ViewBag.Title = "PersonInsuranceStatus";
    Layout = "~/Views/Shared/_LayoutAlipay.cshtml";
}
<script type="text/javascript">
    $("#toast").hide();
    $("#back").click(function () {
        $("#result").hide();
        $("#list").show();
    });
</script>
<style>
    .name {
        width: 25%;
        text-align: center;
    }
</style>
@if (Model.status == "200")
{

    <div class="am-list-footer" style="padding-top:10px;padding:15px 10px 10px 15px;">
        未查到你相关信息
    </div>
}
else
{
    <div class="am-list" am-mode="flat chip">
        <div class="am-list-body">
            @if (Model.status == "100")
              {
                if(Model.cpages==1)
                { 
                <div class="am-list-item">
                    <div class="name am-ft-center">参加险种</div>
                    <div class="name am-ft-center">参保状态</div>
                    @*<div class="name am-ft-center">所在单位编号</div>
                    <div class="name am-ft-center">所在单位名称</div>*@
                    <div class="name am-ft-center">缴费状态</div>
                    <div class="name am-ft-center">待遇状态</div>
                    @*<div class="name am-ft-center">人员编号</div>*@
                </div>
            }
                foreach (var item in Model.data)
             {
                    <div class="am-list-item">
                        <div class="name">
                            <div class="">@item.akf066</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.aac008</div>
                        </div>
                        @*<div class="name">
                            <div class="am-ft-center">@item.aab001</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.aab004</div>
                        </div>*@
                        <div class="name">
                            <div class="am-ft-center">@item.aac031</div>
                        </div>
                        <div class="name">
                            <div class="am-ft-center">@item.akf067</div>
                        </div>
                        @*<div class="name">
                            <div class="am-ft-center">@item.aac001</div>
                        </div>*@
                    </div>
             }
        }

       </div>
        <div class="am-flexbox" am-mode="average" style="margin-top:15px;margin-left:15px;margin-right:15px;">
            <div class="am-flexbox-item">
                <button type="button" id="back" class="am-button am-button-blue">返回</button>
            </div>
        </div>
        </div>
            }
<script>
    $("#back").click(function () {
        $("#result").hide();
        $("#list").show();
    });
</script>
