@model IEnumerable<BigData.TeamTools.Models.UFRole>

<script>
    var groupCode = '@ViewBag.groupCode';

    $(document).ready(function () {
        $('#resourceWindow').jqxWindow({
            width: '400px',
            height: '340px',
            resizable: true,
            initContent: function () {
            }
        });
    });

    function viewRole(code) {
        $('#loader').show();
        $.ajax({
            url: '../RoleManager/Detail?code=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('用户信息');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function change(roleCode, selected) {
        var url = selected ? "../GroupManager/AddRoleToGroup" : "../GroupManager/RemoveRoleFromGroup";
        $.ajax({
            url: url + '?roleCode=' + roleCode + '&groupCode=' + groupCode,
            success: function (result) {
                if (!result.State) {
                    alert("与服务器发生通信故障，稍后再试！");
                }
            }
        });
    }
</script>
<table class="UFTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                
                @if (ViewBag.roleCodes.Contains(item.Code))
                {
                    <input type="checkbox" checked value="@item.Code" onchange="change('@item.Code', this.checked)" />

                }
                else {
                    <input type="checkbox" value="@item.Code" onchange="change('@item.Code',  this.checked)" />
                }
                @*|<a onclick="javascript:viewRole('@item.Code')" style="cursor:pointer;">详细信息</a>*@
            </td>
        </tr>
    }

</table>
