@model IEnumerable<HospitalData.Depart>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDepart</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HospName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartIntro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistryFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildAge)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HospName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartIntro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistryFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildAge)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
