<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    
    <script>
        function onMenuClick(url)
        {
            if (url != "") {
                $('#loader').show();
                $.ajax({
                    url: url,
                    success: function (data) {
                        $('#MainContent').empty().html(data);
                    },
                    complete: function () {
                        $('#loader').hide();
                    }
                });
            }
            else
                $('#MainContent').empty();

        }
    </script>

    <link href="~/Content/SimpleTheme.css" rel="stylesheet" />
</head>
<body>
    <div class="Header">

    </div>
    <div class="MainMenu">
        <button type="button" class="btn btn-default" onclick="onMenuClick('../HostManager/Manager')"><span class="glyphicon glyphicon-star"></span> 服务器管理</button>
        <button type="button" class="btn btn-default" onclick="onMenuClick('')"><span class="glyphicon glyphicon-star"></span> 服务资源管理</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> 安全管理</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> 资源展示</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> 统计分析</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> 帮助文档</button>
    </div>
    <div class="MainContentContainer">
        <div class="MainContent" id="MainContent">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div>
            <div>
                <a href="http://www.china-ccw.com">&copy; @DateTime.Now.Year - 苏州云联智慧信息技术应用有限公司</a>
            </div>
        </div>
    </footer>

    <div id="resourceWindow" style="display:none;">
        <div id="customWindowHeader">
            <span id="titleContainer" style="float: left"></span>
        </div>
        <div id="customWindowContent" style="overflow: hidden">
        </div>
    </div>

    <div id="loader" class="Loading">
        请 稍 后...
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
