@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <title>部门管理</title> 
     <!--主框架颜色-->
      <link href=" @Url.Content("~/Content/ligerUI/skins/Aqua/css/ligerui-all.css")" rel="stylesheet" type="text/css" />
     <!--当前后台(首页)的样式-->
     <link href="@Url.Content("~/Content/css/common.css")" rel="stylesheet" type="text/css" />
       <!--主框架js-->
    <script src="@Url.Content("~/Scripts/jquery/jquery-1.5.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ligerUI/js/ligerui.min.js")" type="text/javascript"></script>
    <!--封装的后台LigerUI友好的各种ajax请求函数-->
       <script src="@Url.Content("~/Scripts/js/LG.js")" type="text/javascript"></script>
      <script src="@Url.Content("~/Scripts/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("../Scripts/js/ligerui.expand.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Content/json2.js")" type="text/javascript"></script>
</head>
<body style="padding:10px;height:100%; text-align:center;">
   <ipnut type="hidden" id="MenuNo" value="Department" />
   <div id="detail" style="display:none;"><form id="mainform" method="post"></form> </div>
  <div id="maingrid"></div> 
  <script type="text/javascript">
      //相对路径
      var rootPath = "@Url.Content("~/Admin/")";
      //列表结构
      var grid = $("#maingrid").ligerGrid({
          columns: [{ display: "部门名称", name: "text", width: 280, type: "text", align: "left" }, { display: "部门描述", name: "desc", width: 480,isSort :false, type: "textarea", align: "left" }, { display: "部门ID", name: "id", hide: true }], dataAction: 'server', pageSize: 50, toolbar: {},usePager:false,
          url: rootPath + 'Department/GetDeptGridTree', sortName: 'ParentID',
          tree: { columnName: 'text' },
          width: '98%', height: '100%', heightDiff: -10, checkbox: false
      });

      //加载toolbar
      LG.loadToolbar(grid, toolbarBtnItemClick);

      //工具条事件
      function toolbarBtnItemClick(item) {
          switch (item.id) {
              case "Add":
                  var selected = grid.getSelected();
                  showDetail({
                      DeptParentName: selected ? selected.text : '',
                      DeptParentID: selected ? selected.id : 0
                  }, true);
                  break;
              case "Detail":
                  var selected = grid.getSelected();
                  if (!selected) { LG.tip('请选择行!'); return }
                  top.f_addTab(null, '查看部门信息', rootPath + 'Department/Detail?IsView=1&ID=' + selected.id);
                  break;
              case "Update":
                  var selected = grid.getSelected();
                  if (!selected) { LG.tip('请选择行!'); return }
                  var parent = grid.getParent(selected);
                  
                  showDetail({
                      DeptParentName: parent ? parent.text : '',
                      DeptParentID: parent.id ? parent.id : 0,
                      DeptName: selected.text,
                      DeptDesc: selected.desc,
                      DeptID: selected.id
                  }, false);
                  break;
              case "Delete":
                  jQuery.ligerDialog.confirm('确定删除吗?该操作将会导致严重的后果,大量该部门下用户就会被删除?', function (confirm) {
                      if (confirm)
                          f_delete();
                  });
                  break;
          }
      }
      function f_reload() {
          grid.loadData();
      }
      function f_delete() {
          var selected = grid.getSelected();
          if (selected) {
              LG.ajax({
                url:rootPath+ 'Department/Delete',
                  loading: '正在删除中...',
                  data: { ID: selected.id },
                  success: function () {
                      LG.showSuccess('删除成功');
                      f_reload();
                  },
                  error: function (message) {
                      LG.showError(message);
                  }
              });
          }
          else {
              LG.tip('请选择行!');
          }
      }

      var detailWin = null, curentData = null, currentIsAddNew;
      function showDetail(data, isAddNew) {
          curentData = data;
          currentIsAddNew = isAddNew;
          if (detailWin) {
              detailWin.show();
          }
          else {
              //创建表单结构
              var mainform = $("#mainform");
              mainform.ligerForm({
                  inputWidth: 280,
                  fields: [
         { name: "DeptID", type: "hidden" },
         { display: "部门名称", name: "DeptName", newline: true, labelWidth: 100, width: 220, space: 30, type: "text", validate: { required: true, maxlength: 50} },
         { display: "部门描述", name: "DeptDesc", newline: true, labelWidth: 100, width: 220, space: 30, type: "text" },
         { display: "上级部门", name: "DeptParentName", newline: true, labelWidth: 100, width: 220, space: 30, type: "text"}],
                  toJSON: JSON2.stringify
              });
              $("#DeptParentName").attr("readonly", "readonly");

              detailWin = $.ligerDialog.open({
                  target: $("#detail"),
                  width: 450, height: 150, top: 90,
                  buttons: [
                  { text: '确定', onclick: function () { save(); } },
                  { text: '取消', onclick: function () { detailWin.hide(); } }
                  ]
              });
          }
          if (curentData) {
              $("#DeptParentName").val(curentData.DeptParentName);
              $("#DeptName").val(curentData.DeptName);
              $("#DeptDesc").val(curentData.DeptDesc);
           
             
          }

          function save() {
              curentData = curentData || {};
              curentData.DeptName = $("#DeptName").val();
              curentData.DeptDesc = $("#DeptDesc").val();
              LG.ajax({
                  url:rootPath+ 'Department/'+(currentIsAddNew? "Add" : "Update"),
                  data: curentData,
                  success: function () {
                      grid.loadData();
                      LG.tip('保存成功!');
                  },
                  error: function (message) {
                      LG.tip(message);
                  }
              });
          }
      }



  </script>
</body>
</html>
