@model IEnumerable<ShareService.ServiceManager.Models.UFUser>
<script>
    var roleCode = '@(ViewBag.roleCode)';

    function exitEditUsersOfRole() {
        $('#resourceWindow').jqxWindow('close');
    }
    function change(userCode, selected) {
        var url = selected ? "../RoleManager/AddUserToRole" : "../RoleManager/RemoveUserFromRole";
        $.ajax({
            url: url + '?userCode=' + userCode + '&roleCode=' + roleCode,
            success: function (result) {
                if (!result.State) {
                    alert("与服务器发生通信故障，稍后再试！");
                }
            }
        });
    }
</script>
<div class="Content">
    <table class="UFTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                是否选择
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                   @if (ViewBag.userCodes.Contains(item.Code))
                   {
                    <input type="checkbox" checked value="@item.Code" onchange="change('@item.Code', this.checked)" />

                   }
                   else {
                    <input type="checkbox" value="@item.Code" onchange="change('@item.Code',  this.checked)" />
                   }
                </td>

            </tr>
        }

    </table>
    <input onclick="exitEditUsersOfRole()" value="退  出" class="btn btn-default" style="position:absolute; left:50%;bottom:15px; margin-left:-40px;width:80px;" />

</div>
