@model IEnumerable<ShareService.ServiceManager.Models.UFRole>

<script>
    $(document).ready(function () {
        $('#resourceWindow').jqxWindow({
            width: '400px',
            height: '340px',
            resizable: true,
            initContent: function () {
            }
        });
    });

    function createRole() {
        $('#loader').show();
        $.ajax({
            url: '../RoleManager/Create',
            success: function (data) {
                $('#resourceWindow #titleContainer').html('添加角色');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function editRole(code) {
        $('#loader').show();
        $.ajax({
            url: '../RoleManager/Edit?code=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('编辑角色');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function viewRole(code) {
        $('#loader').show();
        $.ajax({
            url: '../RoleManager/Detail?code=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('角色信息');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function deleteRole(code) {
        if (confirm('您确定删除该角色吗？')) {
            $('#loader').show();
            $.ajax({
                url: '../RoleManager/Delete?code=' + code,
                success: function (result) {
                    if (result.State) {
                        showRolesList();
                    }
                    else {
                        alert("删除该组时发生错误，删除失败！");
                    }
                },
                error: function (msg) {
                    alert("与服务器通讯发生异常，请检查网络状况！");
                },
                complete: function () {
                    $('#loader').hide();
                }
            });
        }
    }

    function usersOfRole(code) {
        $('#loader').show();
        $.ajax({
            url: '../RoleManager/EditUsersOfRole?code=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('编辑用户与角色信息');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }

    function servicesOfRole(code) {
        $('#loader').show();
        $.ajax({
            url: '../RoleManager/EditServicesOfRole?roleCode=' + code,
            success: function (data) {
                $('#resourceWindow #titleContainer').html('编辑角色权限');
                $('#resourceWindow #customWindowContent').empty().html(data);
                $('#resourceWindow').jqxWindow('open');
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }
</script>
<div class="NavWindow">
    <div class="NavHeader">
        <img src="~/Images/home.png" />
        <span>您当前的位置：安全管理 &gt; 角色管理</span>
    </div>
    <div class="NavContent">
        <div class="Title">
            <div style="float:left;margin-left:10px;font-weight:bold;">角色管理</div>
            <div onclick="createRole();" class="UFButton">
                添加
            </div>
            <div onclick="showRolesList()" class="UFButton">
                刷新
            </div>
        </div>
        <div class="Content">
            <table class="UFTable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        操作
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a onclick="editRole('@item.Code')" style="cursor:pointer;">编辑</a>
                            <a onclick="viewRole('@item.Code')" style="cursor:pointer;">详细信息</a>
                            <a onclick="deleteRole('@item.Code')" style="cursor:pointer;">删除</a>
                            <a onclick="usersOfRole('@item.Code')" style="cursor:pointer;">用户</a>
                            <a onclick="servicesOfRole('@item.Code')" style="cursor:pointer;">权限</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>



