@model BigData.TeamTools.Models.BaseMetadata
@Scripts.Render("~/bundles/jqueryval")
<div style="width:100%; height:100%;">
    <script>
        function onSuccess(result) {
            //alert(result);
            $('#resourceWindow').jqxWindow('close');
            showList();
        }
    </script>
    @using (Ajax.BeginForm("Edit", "MetadataManager", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess" }))
    {
        <ul id="infoTabs" class="nav nav-tabs">
            <li class="active">
                <a href="#baseDetails" data-toggle="tab">
                    基本信息
                </a>
            </li>

        </ul>
        <div class="tab-content">
            <div style="padding:10px;overflow-x:hidden;" id="baseDetails" class="tab-pane fade in active">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.FieldName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FieldName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FieldName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <span>
                                @Html.LabelFor(model => model.FieldType, htmlAttributes: new { @class = "control-label col-md-2" })
                            </span>
                            <span>
                                @Html.DropDownList("fieldType", ViewBag.FieldTypes as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "btn btn-default col-md-offset-1" })
                            </span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <input type="submit" value="保  存" class="btn btn-default" style="position:absolute; left:50%;bottom:15px; margin-left:-40px;width:80px;" />
    }
</div>